[submodule "build/docker/fog_web/fogproject-master"]
	path = build/docker/fog_web/fogproject-master
	url = https://github.com/d-brtn/fogproject.git
[submodule "build/docker/fog_tftpd"]
	path = build/docker/fog_tftpd
	url = https://github.com/d-brtn/docker-tftpd
